# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/

# Build & Run Artifacts
/build/
run/

# Logs
run/logs/
*.log
*.log.gz

# Compiled Java Files
bin/
out/

# Temporary & System Files
*.lock
*.tmp
*.backup
*.swp
.DS_Store
Thumbs.db
.gradle/cache/
.gradle/loom-cache/
.gradle/buildOutputCleanup/
.gradle/vcs-1/
gradlew.bat
